<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "classpath://org/hibernate/hibernate-configuration-3.0.dtd"
        [ <!ENTITY hibernate-core SYSTEM "classpath://com/coreweb/hibernate-core.cfg.xml"> ]>
<hibernate-configuration>

	<session-factory>

		<!-- Postgres -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/turnosdb</property>

		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>

		<!-- Fin Postgres -->

		<!-- ===== Hibernate Core ====================== -->
		
		&hibernate-core; 
		
		<!-- ===== Hibernate propio del dominio =======  -->

		<mapping resource="com/tickets/domain/Turno.hbm.xml"/>
		<mapping resource="com/tickets/domain/Servicio.hbm.xml"/>
		<mapping resource="com/tickets/domain/Operador.hbm.xml"/>
		<mapping resource="com/tickets/domain/Derivado.hbm.xml"/>
		<mapping resource="com/tickets/domain/Cliente.hbm.xml"/>
		<mapping resource="com/tickets/domain/Tarea.hbm.xml"/>
		<mapping resource="com/tickets/domain/Puesto.hbm.xml"/>
		
		<mapping resource="com/tickets/domain/AccesoApp.hbm.xml"/>	
		<mapping resource="com/tickets/domain/RucSet.hbm.xml"/>	
		<mapping resource="com/tickets/domain/Tope.hbm.xml"/>
		
		<!-- ********************************************* -->
		<!-- ********************************************* -->
		<!-- ********************************************* -->

	</session-factory>

</hibernate-configuration>
